// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.navbar {
  background-color: white;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.banner {
  height: 300px;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}

.share-right i {
  font-size: 24px;
}

label.integer.optional {
  margin-right: 10px;
}

.dark-grey {
  color: #343A40;
}
